{% extends 'base.html' %} {% load static %}
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/communities/community_list.css' %}?{% now 'U' %}"
/>
{% endblock %}
{% block content %}

<section class="page-header">
  <div class="title-card">
    <h1>My Communities</h1>
  </div>
</section>

<section class="community-container">
  <section class="card-container">
    {% if not community_list.count %}
      <div class="empty-drobe">
        <p>You are not part of any communities yet!</p>
        <a href="#browse" class="btn btn-sage">Browse communities below</a>
      </div>
    {% else %}
      {% for community in community_list %}
      <a href="{% url 'community-detail' community.id %}" class="card">
        <div class="card-info">
          <div class="card-tags">
            <h2 class="card-title">{{ community.name }}</h2>
            {% if community.created_by == request.user %}
              <span class="tag tag-admin">
                <img src="{% static 'images/admin_icon.png' %}" alt="admin" class="admin-icon" />
                Admin
              </span>
            {% endif %}
            </div>
            <span class="tag tag-location">{{ community.location }}</span>
        </div>
      </a>
      {% endfor %}
    {% endif %}
  </section>
</section>



<div id="browse">
      <h1>Browse More Communities</h1>
  </div>
<section class="drobe-container">
<section class="card-container">
    {% if not other_communities.count %}
      <div class="empty-drobe">
        <p>No other communities to show right now.</p>
      </div>
    {% else %}
      {% for community in other_communities %}
      <a href="{% url 'community-detail' community.id %}" class="card">
        <div class="card-info">
          <h2 class="card-title">{{ community.name }}</h2>
          <div class="card-tags">
            <span class="tag tag-members">{{ community.members.count }} members</span>
            <span class="tag tag-location">{{ community.location }}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    {% endif %}
  </section>
</section>
<section class="page-header">
<div class="wardrobe-base"></div>
</section>

<section class="buttons">
  <a href="{% url 'community-create' %}" class="btn btn-sage">Add community</a>
</section>

{% endblock %}