{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/communities/community_list.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <div class="title-card">
    <h1>My Communities</h1>
  </div>
</section>

<section class="card-container">
  {% if not community_list.count %}
  <p>You are not part of any communities yet!</p>
  {% else %}
  {% for community in community_list %}
  <a href="{% url 'community-detail' community.id %}">
    <div class="card">
      <h2 class="card-title">{{ community.name }}</h2>
      <p>{{ community.location }}</p>
        {% if community.created_by == request.user %}
      <img src="{% static 'images/admin_icon.png' %}" alt="community admin icon" />
        {% endif %}   
    </div>
  </a>
  {% endfor %}
  {% endif %}
</section>

<section class="more-communities-container">
    <h2>Browse more communities</h2>
    <div class="more-communities-cards">
        {% for community in other_communities %}
        <div class="card">
            <a href="{% url 'community-detail' community.id %}">
            <div class="card-content">
                <div class="card-img-container">
                    <img src="" alt="" />
                </div>
                <h2 class="card-title">{{ community.name }}</h2>
                <p>Location: {{ community.location }}</p>
                <p>{{ community.members.count }} members</p>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<section class="buttons">
  <a href="{% url 'community-create' %}" class="add btn">Add community</a>
</section>
{% endblock %}
