{% extends 'base.html' %} {% load static %}
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/garments/garment_list.css' %}?{% now 'U' %}"
/>
{% endblock %}
{% block content %}

<section class="page-header">
  <div class="title-card">
    <h1>My Drobe</h1>
  </div>
</section>

<section class="drobe-container">
  <section class="card-container">
    {% if not garment_list.count %}
      <div class="empty-drobe">
        <p>There are no garments in your drobe yet!</p>
        <a href="{% url 'garment-create' %}" class="btn btn-sage">Add your first garment</a>
      </div>
    {% else %}
      {% for item in garment_list %}
      <a href="{% url 'garment-detail' item.id %}" class="card">
        <div class="card-img-container">
          {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.name }}" />
          {% else %}
            <img src="{% static 'images/default-garment.png' %}" alt="default garment image" />
          {% endif %}
        </div>
        <div class="card-info">
          <h2 class="card-title">{{ item.name }}</h2>
          <div class="card-tags">
            <span class="tag tag-category">{{ item.category }}</span>
            <span class="tag tag-points">{{ item.points_display }}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    {% endif %}
  </section>
</section>
<section class="page-header">
<div class="wardrobe-base"></div>
</section>

{% if garment_list.count %}
<section class="buttons">
  <a href="{% url 'garment-create' %}" class="btn btn-sage">Add new garment</a>
</section>
{% endif %}

{% endblock %}