{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Drobe</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="top-nav-bar">
        <h1>Drobe</h1>
        <div class="header-logo-container">
            <a href="/">
            <img src="" alt="Drobe Logo" />
            </a>
        </div>
      </div>
      <nav class="bottom-nav-bar">
            {% if user.is_authenticated %}
        <ul>
          <li><a href="{% url 'my-profile' %}">Profile</a></li>
          <li><a href="{% url 'garment-index' %}">My Drobe</a></li>
          <li><a href="{% url 'community-index' %}">Community</a></li>
          <li><a href="{% url 'transaction-index' %}">Transactions</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <ul>
          <li>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>
        </ul>
            {% else %}
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
        </ul>
            {% endif %}
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>
