{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<section class="page-header">
  <div class="title-card">
    <h1>Sign Up</h1>
  </div>
</section>

<section class="form-wrapper">
  {% if error_message %}
    <div class="form-errors">
      <p>{{ error_message }}</p>
    </div>
  {% endif %}

  <form action="" method="post" class="form-container" autocomplete="off">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-field">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.help_text %}
        <span class="help-text">{{ field.help_text|safe }}</span>
      {% endif %}
      {% for error in field.errors %}
        <span class="field-error">{{ error }}</span>
      {% endfor %}
    </div>
    {% endfor %}

    {% if form.non_field_errors %}
    <div class="form-errors">
      {% for error in form.non_field_errors %}
        <p class="field-error">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}

    <button type="submit" class="btn btn-sage">Create Account</button>
  </form>
</section>

{% endblock %}