.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-header {
  text-align: center;
  display: flex;
  justify-content: center;
}

.card {
  width: 275px;
  margin: 10px;
  border: var(--borders);
  border-radius: 4px;
  box-shadow: var(--card-box-shadow);
  background: var(--primary);
}

.card-content {
  padding: 10px;
  width: 100%;
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

.buttons {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}