
html {
  box-sizing: border-box;
  background: #fff8eb;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

:root {
    font-size: 62.5%;
     --primary:#d1a67b;
    --secondary: #bd4928;
    --background:#fff5e3;
    --text:#2D3436;
    --accent:#D4A574;
    --nav-bg: #99af8f;
    --nav-bg-ff: #709670;
    --borders: #709670;
    --link-hover-color: rgb(151, 48, 14);
    --button-bg: rgb(245, 245, 245);
    --button-bg-hover: rgb(226, 226, 226);
    --submit: rgb(26, 128, 0);
    --warn: rgb(255, 102, 0);
    --danger: rgb(220, 20, 30);
    --card-box-shadow: 3px 3px 3px -1px #d2d2d2;
    --font-xtreme: 4.2rem;
    --font-xxl: 3.0rem;
    --font-xl: 2.4rem;
    --font-l: 1.8rem;
    --font-reg: 1.6rem;
    --card-border-radius: 6px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  min-height: 100vh;
  
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    width: 100%;
    background: var(--nav-bg);
    padding: 12px 20px;
    background: var(--background);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

}

.bottom-nav-bar {
    position: sticky;
    top: 0;                
    z-index: 1000;
    width: 100%;         
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background: var(--primary);  
    color: var(--background);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

header h1 {
  font-family: "Aref Ruqaa", sans-serif;
  text-transform: uppercase;
  font-size: var(--font-xxl);
  color: var(--primary);
  margin: 0;
  letter-spacing: 3px;
}

nav {
  margin: 4px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  width: 100%;
  padding: 0 10px;
}

h2 {
  font-size: var(--font-xl);
}

nav a, button {
  text-decoration: none;
  color: rgb(78, 43, 0);
  font-weight: 500;
  font-size: 12px;
  font-size: 1.3rem;
  padding: 5px 11px;
  border-radius: 20px;
  transition: all 0.2s ease;
  letter-spacing: 0.5px;

}

nav a:hover {
    color: var(--background);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
  margin: 0;
  list-style: none;
  padding: 0;
}


#logout-form button {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.3rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 6px 14px;
  background: none;
  border: none;
  cursor: pointer;
  letter-spacing: 0.5px;
  padding: 0;
  font-family: inherit;
  transition: all 0.2s ease;
}

#logout-form button:hover {
    color: rgb(78, 43, 0);
  }

.page-header {
  filter: drop-shadow(3px 3px 4px #aaa); 
}

.title-card {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  background: var(--primary);
  border: 8px solid var(--primary);
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}

.btn {
  font-size: var(--font-l);
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}

.btn:hover {
  background-color: var(--button-bg-hover);
}

.submit {
  color: var(--submit);
  border-color: var(--submit);
}

.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.warn {
  color: var(--warn);
  border-color: var(--warn);
}

.danger {
  color: var(--danger);
  border-color: var(--danger);
}


.title-card h1 {
  font-size: var(--font-xl);
  color: rgb(78, 43, 0);
  letter-spacing: 1.2px;
  font-weight: 500;
  margin: 7px;
}

.page-header img {
  height: 40px;
  margin-left: 15px;
}

.page-header img:first-of-type {
  margin-left: 20px;
}

.page-content {
  font-size: var(--font-reg);
}

.page-container {
  background: var(--primary);
  margin: 20px 20px;
  border-radius: 8px;
  box-shadow:0 2px 8px rgba(0, 0, 0, 0.3) ;
}

@media only screen and (min-width: 768px) {
  header {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    align-items: center;
  }

  main {
    max-width: 1300px;
    min-height: calc(100vh - 53px);
  }

  nav,
  .header-logo-container {
    margin: 10px 0;
    padding: 0 15px;
  }

  /* visual fix to help align logo */
  .header-logo-container {
    padding-top: 3px;
  }

  nav {
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

  nav ul {
    flex-wrap: nowrap;
  }

  .header-logo-container {
    width: 213px;
  }

  .page-header h1 {
    font-size: var(--font-xtreme);
  }

  .page-header img {
    height: 50px;
    margin-left: 20px;
  }

  .page-header img:first-of-type {
    margin-left: 25px;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header {
      background: var(--nav-bg);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    }
  }
}

@media only screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 55px);
  }

  header {
    margin: 20px 20px 0 20px;
    width: calc(100vw - 40px);
    max-width: 1920px;
    top: 20px;
    background-color: transparent;
    border-bottom: none;
  }

  nav,
  .header-logo-container {
    margin: 0;
    background: var(--nav-bg-ff);
    border: var(--borders);
    border-radius: 18px;
  }

  nav {
    margin-left: auto;
  }

  .header-logo-container {
    /* visual fix to help align logo */
    padding-top: 6px;
    width: 256px;
    height: 35px;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header {
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }

    nav,
    .header-logo-container {
      background: rgba(104, 197, 248, 0.6);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    }
  }
}
