main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

main > section {
  width: 100%;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-title h1 {
font-family: "Aref Ruqaa", sans-serif;
  text-transform: uppercase;
  font-size: 6rem;
  color: var(--primary);
  margin: 0;
  letter-spacing: 8px;
}

.home-title img {
  height: 210px;
  padding: 20px;
}